//-- RACCOURCIES
$background: 'background';
$top-bg-pattern: 'top-bg-pattern';
$background-card : 'background-card';
$text-1: 'text-1';
$text-2: 'text-2';
$toggle: 'toggle';
$toggle-2: 'toggle-2';
$txt-lime-green: 'lime-green';
$txt-bright-redd: 'bright-red';
$hover-card: 'hover';

$themes: (
  default: (
      background: $bg--light,
      top-bg-pattern: $top-bg-pattern--light,
      background-card: $background-card--light,
      text-1: $text-1--light,
      text-2: $text-2--light,
      toggle: $toggle--light,
      hover: $hover-card--light 
  ),

  dark: (
      background: $bg--dark,
      top-bg-pattern: $top-bg-pattern--dark,
      background-card: $background-card--dark,
      text-1: $text-1--dark,
      text-2: $text-2--dark,
      toggle: $toggle--dark,
      toggle-2: $toggle-2--dark,
      hover: $hover-card--dark 
  ),
);