html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, img, small, strong
b, form, label, article, figure, footer, header, section, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, figure, footer, header, section, img, a, small {
	display: block;
}

body {
	line-height: 1;
}