//-- COLORS GLOBAL
$lime-green: #1DB489;
$bright-red: #DC414C;
$facebook:#00BFFF;
$twitter:#1CA0F2;
$instagram-gradient-1:#FDC468;
$instagram-gradient-2:#DF4996;
$youtube:#C4032A;
$gradient-hover-1:#378FE6;
$gradient-hover-2:#3EDA82;



//-- COLORS LIGHT
$bg--light: #FFFFFF;
$top-bg-pattern--light: #F5F7FF;
$background-card--light:#F0F2FA;
$text-1--light:#63687E;
$text-2--light:#1E202A;
$toggle--light:#AEB3CB;
$hover-card--light : #e1e3f0;


//-- COLORS DARK
$bg--dark:#1E202A;
$top-bg-pattern--dark:#1F212E;
$background-card--dark:#252A41;
$text-1--dark:#8B97C6;
$text-2--dark:#Ffffff;
$toggle--dark:#378FE6;
$toggle-2--dark:#3EDA82;
$hover-card--dark: #333a56;